/* Space out content a bit */
body {
    transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    padding-top: 130px;
    font-family: 'Roboto';
    background-color: #EEEEEE;
    -webkit-font-smoothing: antialiased;
}

.card_progress {
  width: 100%;
  height: 12px;
  margin-top: -20px;
  margin-bottom: 20px;
  background: rgb(253,253,253);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid #c9c9c9;
}

.card_progress div {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-image: url('../images/color_bar.png');
  height: 100%;
  width: 0px;
}

.event_cards {
  min-height: 165px;
}

.tag_description {

}

#menu_btn {
  float: right;
  margin-left: 15px;
  font-size: 33px;
  border-radius: 5px;
  padding: 4px;
  padding-top: 6px;
  border: 1px solid #c0c0c0;
  margin-right: 0px;
  margin-top: -6px;
  display: none;
}

.post {
  background: #2ca4f0;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  padding: 3px;
  border-radius: 4px;
}

.get {
  background: #13c500;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  padding: 3px;
  border-radius: 4px;
}

.delete {
  background: #ef6464;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  padding: 3px;
  border-radius: 4px;
}

#group_pic {
  background: url('../images/gdg_group_pic.jpg');
  height: 200px;
  background-position: center center;
}

.gdg {
  font-family: "Open Sans";
  font-size: 24pt;
  font-weight: 800;
  color: #6d6e71;
}

.gdg_chapter {
  font-family: "Open Sans";
  font-size: 23pt;
  color: #6d6e71;
  font-weight: 600;
}

.chapter_country {
      margin-left: 25px;
}

.fc-header-title h2 {
  font-size: 15pt;
}

.masonry {
  -webkit-column-count: 3;
  -moz-column-count: 3;
}

.masonry [class*="span"] {
  float: none;
  display: inline-block;
}

a h3 {
  color: #000000;
}

a:hover h3 {
  color: #000000;
  text-decoration: none;
}

.angular-google-map img{max-width: inherit;}

.angular-google-map-container { height: 400px; }

.card-map .angular-google-map-container { height: 150px; }

.card-wh-body {
  padding: 10px;
  margin-top: -20px;
}

.bold_metric {
  font-family: 'Roboto Slab',sans-serif;
  font-size: 5em;
}

.organizer {
  margin-left: 6px;
  margin-right: 9px;
  width: 170px;
}

.metric {
  line-height: 5em;
}

.vert {
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

}

.card-outheader {
  font-family: 'Roboto Slab',sans-serif;
}

.footer {
  background: #f1f1f1;
  border-top: 1px solid #e8e5e5;
  padding: 10px;
  font-size: 11px;
  color: #a3a3a3;
  font-family: 'Open Sans',sans-serif;
}

.img-circle {
    box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.75);
}

.color_bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-image: url('../images/color_bar.png');
  height: 6px;
}

.navbar .nav > li > a {
  line-height: 15px;
  color: #e9e9e9;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  border-color: #ffffff;
  color: #ffffff;
  font-weight: normal;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  border-color: #ffffff;
  color: #ffffff;
}

.navbar {
    padding-top: 20px;
    background: #f1f1f1;
}

.navbar .container {
    width: auto;
    margin-left: 30px;
}

.navbar-inner {
    min-height: 39px;
}

li {
    line-height: 21px;
}

.navbar-inverse .navbar-inner {
    background: #444444;
    height: 40px;
    margin-top: 16px;
}

.signed-in a, .signed-in a:visited {
    display: block;
    text-align: right;
    line-height: 140%;
    color: #808080;
}

.email {
    font-weight: bold;
}

.signed-in {
    font-size: 9pt;
}

.signed-in a {
    text-decoration: none;
}

.signed-in>div {
    float: left;
}

.signed-in img {
    vertical-align: middle;
    border: 1px solid #acacac;
    margin-left: 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    width: 36px;
    height: 36px;
    padding: 0;
}

.elem_container .tab-content {
    overflow: visible;
}

@media (max-width: 979px) {
    body {
        padding-top: 0;
    }

    #logged_in_email {
      display: none;
    }

    #top_bar {
      padding-left: 5px;
      padding-right: 5px;
    }

    #menu_btn {
      display: block;
    }

    .nav {
      background-color: #444444;
    }

    ul.nav {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    #navbar ul.nav > li > a {
      font-weight: normal;
      color: #eeeeee;
    }

    .navbar .container {
      width: auto;
      margin-left: 0px;
    }

    #navbar ul.nav > li > a:hover {
      background-color: rgba(0,0,0,0);
    }

    #navbar {
      padding: 0px;
      height: 20px;
      min-height: 20px;
      margin-top: 10px;
    }

    .chapter_country {
      margin-left: auto;
    }

    .navbar_open .nav-collapse {
      overflow: visible;
    }

    .organizer {
      margin-left: 6px;
      margin-right: 4px;
    }
}

@media (max-width: 767px) {
    .organizer {
        margin-left: 6px;
        margin-right: 0px;
        width: 170px;
        float: left;
    }

    .chapter_country {
      margin-left: auto;
    }
}

@media (max-width: 454px) {
    .signed-in {
        font-size: 7pt;
    }

    .navbar .container {
        width: auto;
        margin-left: 0px;
    }
}