{
  "GCLOUD_PROJECT": "myorg-gdgx",
  "GOOGLE_SIMPLE_API_KEY": "API_KEY_FROM_GOOGLE_DEVELOPERS_CONSOLE",
  "GOOGLE_OAUTH_CLIENT_ID": "CLIENT_ID_FROM_GOOGLE_DEVELOPERS_CONSOLE",
  "GOOGLE_OAUTH_CLIENT_SECRET": "CLIENT_SECRET_FROM_GOOGLE_DEVELOPERS_CONSOLE",
  "SERVER_KEY_SECRET": "SERVER_KEY_SECRET",
  "ANDROID_CLIENT_IDS": "ANDROID_CLIENT_IDS",
  "GA_TRACKING_ID": "TRACKING_ID_FROM_GOOGLE_ANALYTICS",
  "MONGODB_DB_URL": "MONGO_DB_URI",
  "ADMIN_EMAIL": "youareawesome@yourself.com",
  "SESSION_SECRET": "PLEASE_DO_NOT_PUT_THIS_AS_YOUR_GDG_NAME",
  "PORT": 3000
}
