<div class="container">
	<div class="row">
		<div class="span12">
			<h2>The Hub</h2>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<h3><i class="fa fa-tachometer"></i> Statistics &amp; Metrics</h3>
			<div class="card">
			</div>
		</div>
		<div class="span4">
			<h3><i class="fa fa-book"></i> Data</h3>
			<div class="card">
			</div>
		</div>
		<div class="span4">
			<h3><i class="fa fa-cogs"></i> API</h3>
			<div class="card">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<h3>Made possible by</h3>
			<small>Contributors to the Hub Project on GitHub</small>
		</div>
	</div>
	<div class="row">
			<div ng-repeat="contributor in contributors" class="span3">
				<div class="card">
					<div class="card-wh-body clearfix">
						<div class="pull-left" style="margin-right: 10px"><img ng-src="{{contributor.avatar_url}}" width="48"></div>
						<div class="pull-left">
							<a ng-href="https://www.github.com/{{contributor.login}}">{{contributor.login}}</a><br/>
							Commits: {{contributor.contributions}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>