<div class="container">
	<div class="row">
		<div class="span1">
			<img ng-show="chapter._id != undefined" class="pull-right" style="margin-top: 11px;" ng-src="http://profiles.google.com/s2/u/0/photos/profile/{{chapter._id}}?sz=70"/>
		</div>
		<div style="margin-left: 10px" class="span11">
			<h3>{{chapter.name}}</h3>
			<span>{{chapter.city}}, {{chapter.country.name}}</span>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<div class="card">
				<div class="card-wh-body" ng-bind-html="about">
				</div>
			</div>
			<h3>Event Calendar</h3>
			<div class="span8" style="margin-left: 0px">
				<div class="btn-group">
					<button class="btn btn-success" ng-click="changeCalendarView('agendaDay', chapterCalendar)">Day</button>
		            <button class="btn btn-success" ng-click="changeCalendarView('agendaWeek', chapterCalendar)">Week</button>
		            <button class="btn btn-success" ng-click="changeCalendarView('month', chapterCalendar)">Month</button>
	            </div>
				<div ui-calendar="chapterCalendarConfig" ng-model="eventSource" calendar="chapterCalendar"></div>
			</div>
		</div>
		<div class="span4">
			<div ng-switch on="!!chapter.geo">
				<div class="card" ng-switch-when="true">
					<div class="card-wh-body">
						<google-map center="map_center" zoom="chapter.geo.zoom">
							<marker coords='chapter.geo'>
							</marker>
						</google-map>
					</div>
				</div>
			</div>
			<h3>Organizers</h3>
			<div style="margin-left: 0px">
				<div ng-repeat="organizer in chapter.organizers" class="span2 organizer" gplus-person gplus-id="organizer"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
		</div>
	</div>
</div>