<div class="container">
	<div class="row">
		<div class="span9">
			<h2>Welcome Organizer!</h2>
			<h3>Hi there. Glad to have you onboard.</h3>
			<div class="row">
				<div class="span9 card">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Username</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
		<div class="span3">
			<h3>Your GDGs</h3>
			<div class="card">
				<div class="card-wh-body">
					<div ng-repeat="chapter in user.chapters">
						<a ng-href="/chapters/{{chapter.id}}">{{chapter.name}}</a>
					</div>
				</div>
			</div>
			<h3>Event series</h3>
			<div class="card">
				<div class="card-wh-body" ng-controller="EventSeriesCtrl">
				   <form name="form" class="css-form" novalidate>
  						<div>
    						Tag for series
    						<input type="text" ng-model="tag" name="tag"/>    							
  						</div>
  						<div>
    						Folder id to share with organizers
    						<input type="text" ng-model="folderId" name="folderId"/>    							
  						</div>
  						<button ng-click="addPermissions(tag, folderId)">Add permissions</button>
 					</form>					
				</div>
			</div>
		</div>
	</div>
</div>