<div class="container">
	<div class="row">
		<div class="span9">
			<h2>Welcome GDG Member!</h2>
			<h3>Hi there. Glad to have you onboard.</h3>
			<div class="row">
				<div class="span9 card">
				</div>
			</div>
		</div>
		<div class="span3">
			<h3>Event series</h3>
			<div class="card">
				<div class="card-wh-body" ng-controller="EventSeriesCtrl">
				   <form name="form" class="css-form" novalidate>
  						<div>
    						Tag for series
    						<input type="text" ng-model="tag" name="tag"/>    							
  						</div>
  						<div>
    						Folder id to share with organizers
    						<input type="text" ng-model="folderId" name="folderId"/>    							
  						</div>
  						<button ng-click="addPermissions(tag, folderId)">Add permissions</button>
 					</form>					
				</div>
			</div>
		</div>
	</div>
</div>
