<div class="container">
  <div class="row">
    <div class="span12">
      <h2>DevFest 2014</h2>
    </div>
  </div>
  <div class="row">
    <div class="span12 card" id="group_pic">
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span6">
          <h3><i class="fa fa-home"></i> About</h3>
          <div class="card">
            <div class="card-wh-body">
              GDG DevFests are large, community-run events that can offer speaker sessions across multiple product areas, all-day hack-a-thons, code labs, and more.
            </div>
          </div>
        </div>
        <div class="span6">
          <h3><i class="fa fa-rocket"></i> DevFest Seasons</h3>
          <div class="card">
            <div class="card-wh-body">
              We have two seasons for DevFest this year:
              <ul>
                <li>15th Sep - 31st Oct</li>
                <li>1st Oct - 30th Nov</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <h3><i class="fa fa-group"></i> Find an event near you</h3>
          <div class="card">
            <div class="card-wh-body">
              <p>
                Each GDG DevFest will be inspired by and uniquely tailored to the needs of the developer community that hosts it. 
                While no two events will be exactly alike, each GDG DevFest will, at its core, be powered by a shared belief 
                that when developers come together to exchange ideas, amazing things can happen.
              </p>
              <p>
                GDG DevFests can be organized year round and are community run events. Therefore, these events take the form desired by the community with minimal guidelines. In order to ensure these events are bigger than regular GDG meetups though, there are a few recommendations:
              </p>
              <ul>
                <li>Duration of the event should be at least 5 hours</li>
                <li>More than 1 track if organizing a speaker session based event</li>
                <li>Hackathon (Single or Multi Product) - Ideally somewhere between 24-48 hours</li>
                <li>Product days - Multiple-day event with one product each day are also suggested</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>