<div class="container">
	<div class="row">
		<div class="span9">
			<div class="row">
				<div class="span9">
					<h3>{{event.title}} <small><time-ago date="event.start"></time-ago></small></h3>
					<div class="card">
						<div class="card-wh-body">
							<div ng-bind-html="event.about"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span3">
					<div class="card event_cards">
						<div class="card-wh-body">
							<h3><i class="fa fa-clock-o"></i> Your Time</h3>
							<b>Begins:</b> <span><local-time date="event.start"></local-time></span><br/>
							<b>Ends:</b> <span><local-time date="event.end"></local-time></span>
						</div>
					</div>
				</div>
				<div class="span3">
					<div class="card event_cards">
						<div class="card-wh-body">
							<h3><i class="fa fa-clock-o"></i> Event Time</h3>
							<b>Begins:</b> <span><time-timezone date="event.start" timezone="event.timezone"></time-timezone></span><br/>
							<b>Ends:</b> <span><time-timezone date="event.end" timezone="event.timezone"></time-timezone></span><br/>
							<b>Timezone:</b> {{event.timezone}}
						</div>
					</div>
				</div>
				<div class="span3">
					<div class="card event_cards">
						<div class="card-wh-body">
							<h3><i class="fa fa-map-marker"></i> Location</h3>
							{{event.location}}<br/><br/>
							<a ng-href="https://maps.google.com/maps?daddr={{event.location}}">Get directions</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="row">
				<div class="span3">
					<h3>Hosted by</h3>
					<div class="card">
						<div class="card-wh-body">
						<img ng-show="chapter._id != undefined" class="pull-right" style="margin-top: 11px;" ng-src="{{image}}"/>
							<h3><a ng-href="/chapters/{{chapter._id}}">{{chapter.name}}</a></h3>
							<span>{{chapter.city}}, {{chapter.country.name}}</span>
						</div>
					</div>
				</div>
			</div>
	                <div class="row">
				<div class="span3">
					<h3>Event Site</h3>
					<div class="card">
						<div class="card-wh-body">
						<img ng-show="event.eventUrl != undefined" class="pull-right" ng-src="{{image}}"/>
							<h3><a ng-href="{{event.eventUrl}}">Google+ event page</a></h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="card span3">
					<div class="card-wh-body">
						<div ng-switch on="!!event.geo">
							<div ng-switch-when="true">
								<google-map center="event.geo.center" zoom="event.geo.zoom">
									<marker coords='event.geo'>

									</marker>
								</google-map>
							</div>
							<div ng-switch-default>...</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
