<div class="container">
  <div class="row">
    <div class="span12">
      <h2>Welcome to the GDG[x] Hub</h2>
    </div>
  </div>
  <div class="row">
    <div class="span12 card" id="group_pic">
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span6">
          <h3><i class="fa fa-home"></i> It's all here</h3>
          <div class="card">
            <div class="card-wh-body">
              This is the center of everything GDG. Think of it as the community-run mirror of <a href="https://developers.google.com/groups/">developers.google.com/groups</a>.
              Information about all the GDG Chapters in every part of the world, event schedules, statistics &amp; metrics and an easy API for you to integrate our data into your own projects.<br/><br/>
            </div>
          </div>
        </div>
        <div class="span6">
          <h3><i class="fa fa-rocket"></i> There's more to come</h3>
          <div class="card">
            <div class="card-wh-body">
              Integrating all the information on Google Developer Groups worldwide is only the first step. GDG[x] aims to expand the Hub in the future with other useful features and tools that can help us run our community even more effective. You're invited to get on-board and help us shape the future of the Hub. The whole sourcecode is available
              on GitHub, ready for you to explore and extend it. <a href="https://github.com/gdg-x/hub">&raquo; The Hub on GitHub</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <h3><i class="fa fa-group"></i> Erm...what's a GDG?</h3>
          <div class="card">
            <div class="card-wh-body">
              Google Developer Groups (GDGs) are for developers who are interested in Google's developer technology; everything from the Android, App Engine, and Google Chrome platforms, to product APIs like the Maps API, YouTube API and Google Calendar API.<br/><br/>
              A GDG can take many forms -- from just a few people getting together to watch our <a href="http://www.youtube.com/user/GoogleDevelopers">latest video</a>, to large gatherings with demos and tech talks, to events like code sprints and hackathons. However, at the core, GDGs are focused on developers and technical content, and the core audience should be developers. No GDG Chapter in your region? <a href="https://developers.google.com/groups/start/b">&raquo; Start your own!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>