<div class="container">
  <div class="jumbotron">
    <h1>Nothing to see here...yet!</h1>
    <p class="lead">
      Powered by
      <img src="images/yeoman.png" alt="I'm Yeoman"><br><br>
      <small>Always a pleasure scaffolding your apps.</small>
    </p>
  </div>

  <div class="row marketing">
    <div ng-repeat="thing in awesomeThings">
        <h4>{{thing.name}}</h4>
        <p>{{thing.info}}</p>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <div class="card">
        <div gauge></div>
      </div>
    </div>
    <div class="span4">
      <div class="card">
        <div gauge></div>
      </div>
    </div>
    <div class="span4">
      <div class="card">
        <div gauge></div>
      </div>
    </div>
  </div>
</div>