<div class="container">
	<div class="row">
		<div class="span1">
			<img ng-show="chapter._id != undefined" class="pull-right" style="margin-top: 11px;" ng-src="{{image}}"/>
		</div>
		<div style="margin-left: 10px" class="span9">
			<h3>{{chapter.name}}</h3>
			<span>{{chapter.city}}, {{chapter.country.name}}</span>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<div class="card">
				<div class="card-wh-body" ng-bind-html="about">
				</div>
			</div>
			<h3>Event Calendar</h3>
			<div class="span8" style="margin-left: 0">
				<div class="btn-group">
					<button class="btn btn-success" ng-click="changeCalendarView('agendaDay', 'chapterCalendar')">Day</button>
		            <button class="btn btn-success" ng-click="changeCalendarView('agendaWeek', 'chapterCalendar')">Week</button>
		            <button class="btn btn-success" ng-click="changeCalendarView('month', 'chapterCalendar')">Month</button>
	            </div>
				<div ui-calendar="chapterCalendarConfig" ng-model="eventSource" calendar="chapterCalendar"></div>
			</div>
		</div>
		<div class="span4">
      <div ng-show="!!chapter.geo" class="row">
        <div class="card span5">
          <div class="card-wh-body">
            <ui-gmap-google-map center="chapter.map.options.center" zoom="chapter.map.options.zoom"
                                draggable="true" control="chapter.map.control" ng-if="chapter.geo != null">
              <ui-gmap-markers models="markers" id="'_id'" coords="'geo'"></ui-gmap-markers>
            </ui-gmap-google-map>
          </div>
        </div>
      </div>

			<h3>Organizers</h3>
			<div style="margin-left: 0">
				<div ng-repeat="organizer in chapter.organizers" class="span2 organizer" gplus-person gplus-id="organizer"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
		</div>
	</div>
</div>
